In [2]:
# Methods on Lists, some methods return None, because is the original list who changed.
mylist = []
mylist.append(5) # Add an element
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

[5, 27, 3, 12]

In [4]:
mylist.insert(1, 12) # Add an element in a specific position
print(mylist, mylist.count(12))

[5, 12, 12, 27, 3, 12] 3

In [5]:
print(mylist.index(3)) # Position on the list
print(mylist.count(5)) # How many times is on the list

4
1

In [6]:
mylist.reverse() 
print(mylist)

[12, 3, 27, 12, 12, 5]

In [7]:
mylist.sort() # "Ordena" los elementos de la lista
print(mylist)

[3, 5, 12, 12, 12, 27]

In [8]:
mylist.remove(12) # Elimina el elemento 
print(mylist)

[3, 5, 12, 12, 27]

In [10]:
lastitem = mylist.pop()
print(lastitem, '\nLa lista sin el último elemento:', mylist)

12
La lista sin el último elemento: [3, 5, 12]

In [ ]:
# Append vs Concatenate

origlist = [45,32,88]

origlist.append['cat']
#or
origlist = origlist + ['cat']

In [3]:
origlist = [45,32,88]
print('origlist:', origlist, '\nthe id:', id(origlist),'\n')

newlist = origlist + ['cat']
print('newlist:', newlist, '\nthe id:', id(newlist), '\n')

origlist.append('cat')
print('origlist:', origlist, '\nthe id:', id(origlist))

origlist [45, 32, 88]
the id: 139648994230720

newlist [45, 32, 88, 'cat']
the id: 139648994231680

origlist [45, 32, 88, 'cat']
the id: 139648994230720

In [9]:
origlist = [45,32,88]
alislist = origlist
origlist += ['cat'] # Mutate the list, dont create a new one.
# print(id(alislist), id(origlist))
origlist = origlist + ['cow']
print(origlist, id(origlist), '\n', alislist, id(alislist))

[45, 32, 88, 'cat', 'cow'] 139648990576768
 [45, 32, 88, 'cat'] 139648987477184

In [16]:
# Methods on strings
# Make a copy of the original because strigns are inmutable.
ss = 'Hello, World'
print(ss.upper())

tt = ss.lower()
print(tt)
print(ss)

HELLO, WORLD
hello, world
Hello, World

In [16]:
ss = '  Hello, World    '

els = ss.count('l')
print(els)

print('***' + ss.strip() + '***')

news = ss.replace('o', '***')
print(news)

3
***Hello, World***
  Hell***, W***rld

In [24]:
s = ''' 
python 
r
m
ocks'''
print(s[2]*s.index('m'))

pppppppppppp

In [18]:
# Format
scores = [("Rodney Dangerfield", -1), ("Marlon Brando", 1), ("You", 100)]
for person in scores:
    name = person[0]
    score = person[1]
    print("Hello " + name + ". Your score is " + str(score))

Hello Rodney Dangerfield. Your score is -1
Hello Marlon Brando. Your score is 1
Hello You. Your score is 100

In [20]:
scores = [('Rodney Dangerfield', -1), ('Marlon Brando', 1), ('You', 100)]
for person in scores:
    name = person[0]
    score = person[1]
    # print('Hello' + name + '. Your score is '+ str(score))
    print('Hello {}. Your score is {}'.format(name, score)) # With format

Hello Rodney Dangerfield. Your score is -1
Hello Marlon Brando. Your score is 1
Hello You. Your score is 100

In [5]:
person = input('Your name: ')
greeting = 'Hello {}!'.format(person)
print(greeting)

Hello Kasjda!

In [2]:
person = input('Enter your name: ')
print('Hello {}!'.format(person))

Hello Jesíiii!

In [7]:
origPrice = float(input('Enter the original price: $'))
discount = float(input('Enter discount percentage: '))
newPrice = (1 - discount/100) * origPrice
print('${:.2f} discounted by {}% is ${:.2f}.'.format(origPrice, discount, newPrice))

$747474474746242.00 discounted by 5.0% is $710100751008929.88.

In [12]:
name = 'Michelle'
gret = 'Nice to meet you'
s = 'Hello, {}. {}.\n'

print(s.format(name, gret), s.format(gret, name))
# print(s.format(name)) Error, por parametros.

Hello, Michelle. Nice to meet you.
 Hello, Nice to meet you. Michelle.

In [15]:
a = 5
b = 9
setStr = 'The set is \{\{ {}, {} \}\}.'.format(a, b)
print(setStr)

ValueError: unexpected '{' in field name